* {
    color: #fff;
}


/* Structure */
main {
    display: flex;
    flex-direction: row;
}

section {
    background-color: #060A0B;
}

aside {
    grid-column: 1;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: rgb(18, 24, 25);
    width: 250px;
    height: 100vh;
}

/* Icon */
.icon {
    display: flex;
    margin-top: 30px;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.icon img {
    height: 50px;
}

/* Navigation */
ul {
  margin-top: 30px;
}

li {
  list-style: none;
  display: flex;
  align-items: center;
  padding: 10px;
  transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
}

li:hover {
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
  transform: translateX(5px);
}

li svg {
  margin-right: 10px;
}

li a {
  text-decoration: none;
  color: #fff;
}

li a:hover {
  color: lightgreen;
}


/* Side Bar Info */
.side-bar-info {
    margin: 10px;
    background-color: #333;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    margin-top: auto;
    /* This will make the div stick to the end of the parent container */
}

.side-bar-info p {
    font-size: 12px;
    margin: 0;
}

.side-bar-info a {
    display: block;
    font-size: 12px;
    color: #007bff;
    text-decoration: none;
}

.side-bar-info a:hover {
    text-decoration: underline;
}

/* Main Section */
section {
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: calc(100vw - 250px);
    /* height: 100vh;
    overflow-y: auto; Enable vertical scrolling when content exceeds 100vh */
}

  .main {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Automatically adjust columns */
    grid-row-gap: 20px;
    grid-template-rows: repeat(2, 1fr); /* Repeat 2 rows with 1fr each */
    padding: 10px;
    height: calc(100vh - 86px);
    overflow: auto; /* Use 'scroll' if you always want to show the scrollbar */
  }
  
  
  

/* Cards */
.worlds {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100%;

  }
  
  .dark-card {
    position: relative;
    width: 18rem;
    background-color: #161B1E;
    color: #fff;
    border-radius: 10px;
    overflow: hidden;
  }
  
  .card-img-container {
    /* width: 100%; */
    overflow: hidden; /* Prevent image from overflowing */
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  
  .card-img {
    height: 340px;
    object-fit: cover;
    object-position: top; /* Display image in portrait mode */
  }
  
  .card-body {
    padding: 0px;
    display: flex;
    height: 60px;
    flex-wrap: wrap;
  }
  
  .card-icons {
    /* position: absolute; */
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .icon-top-right {
    position: absolute;
    top: 8px;
    right: 8px;
    z-index: 1;
  }
  
  .icon-bottom {
    display: flex;
    gap: 8px;
  }
  
  .icons {
    fill: #fff; /* Icon color */
    cursor: pointer;
  }

  .card:hover {
    box-shadow: 0px 8px 16px rgba(99, 99, 99, 0.3);
    transform: translateY(-10px);
    transition: box-shadow 0.3s ease, transform 0.3s ease;
  }
  
  .card-icons svg:hover {
    fill: green; 
    transition: fill 0.3s ease;
  }

  .icon-play:hover path {
    fill: rgb(45, 231, 45);
  }

  .icon-fav:hover path {
    fill: rgb(231, 45, 175);
  }

  .nav-icons:hover path {
    fill: lightcoral;
  }

/* CSS for the world-name container */
.world-name {
  text-align: center;
  padding: 10px 0px;
  width: 100%; /* Adjust the width as needed */
  margin: 0 auto; /* Center the container horizontally */
  color: #fff; /* Text color (white) */
}

/* CSS for the h6 element (MARIO + RABBIDS) */
.world-name h6 {
  font-size: 18px;
  margin: 0;
}

/* CSS for the p element (Sparks of Hope!) */
.world-name p {
  font-size: 14px;
  margin: 5px 0 0 0;
}

  
/* Nav Bar */

.upper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333; /* Dark background color */
    padding: 10px 20px;
  }
   
  .search-bar {
    display: flex;
    align-items: center;
    background-color: #444; /* Darker background color for the search bar */
    padding: 5px;
    border-radius: 5px;
    margin-right: 20px;
  }
  
  .search-bar svg {
    fill: #fff; /* White color for the search icon */
    margin-right: 5px;
  }
  
  .search-bar input[type="text"] {
    background-color: transparent;
    border: none;
    color: #fff; /* White color for the input text */
  }
  
  .nav-bar {
    display: flex;
    align-items: center;
  }

  .nav-bar a {
    color: #fff; /* White color for the anchor links */
    margin-right: 20px;
    text-decoration: none;
  }
  
  .nav-stuff {
    display: flex;
    justify-content: space-around;
  }

  .header {
    display: flex;
    align-items: center;
  }
  
  .header h4 {
    color: #fff; /* White color for the heading */
    margin-right: 20px;
  }
  
  .header a {
    display: inline-flex;
    align-items: center;
    margin-right: 20px;
    color: #fff; /* White color for the anchor links */
    text-decoration: none;
  }
  
  .header svg {
    fill: #fff; /* White color for the svg icons */
    margin-right: 5px;
  }